<% content_for :title do %>Stanlianou NOC<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tfl_status" data-view="TflStatus" data-title="Favrit Tubs"></div>
    </li>
  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-title="Weather Forecast" ></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="skynews" data-view="Sky"></div>
    </li>
    
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bbcnews" data-view="Bbcnews"></div>
    </li>


  </ul>
</div>